@import "../../../../../../assets/styles/foundation-sites/settings";

.products-table_wrapper {
  font-size: 12px;
  table {
    border-radius: 5px;
    box-shadow: 0px 4px 35px rgba($black, 0.18);
    overflow: hidden;
  }
  thead {
    background: $primary-color;
    color: $white;
    text-transform: uppercase;
  }
  th {
    font-weight: 600;
    letter-spacing: 0.08em;
    line-height: 1.2;
    max-width: 120px;
    padding: {
      top: 1rem;
      bottom: 1rem;
    }
    &:not(.text-left) { text-align: center; }
  }
  tbody {
    > tr {
      transition: background .2s ease;
      &.active { background: $light-gray; }
      &:not(:last-child) { border-bottom: 1px solid $white; }
    }
    td {
      color: $secondary-text-color;
      padding: 16px 10px;
      font-weight: 600;
      white-space: nowrap;
      &:not(.text-left) { text-align: center; }
    }
  }
}

.erp-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .erp_data { margin-right: 10px; }
}

.erp-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  .ascending & {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent $success-color transparent;
  }
  .descending & {
    border-width: 10px 5px 0 5px;
    border-color: $alert-color transparent transparent transparent;
  }
}

.fake-checkbox {
  thead input[type="checkbox"]:checked + & {
    &:after { background: $white; }
  }
  tbody input[type="checkbox"]:checked + & { color: $primary-color; }
}
