.products-table-component
  .products_top-row.row.align-justify.align-middle.collapse
    .top_filters-row.column.small-6
      .row.collapse.align-middle
        .column.small-3
          dl.info-list
            dt Total items:
            dd 4,243
        .column.small-9
          .inputs-holder
            .search-box
              i(aria-hidden="true").fa.fa-search
              input(type="text", placeholder="Search")
            .select-box
              custom-select([config]="prop")
              //-select
                option Select Customer
    .top_btns-row.column.shrink
      .export_inner-wrapper
        span.export_label Export as:
        .export_btns-group
          button(type="button").btn
            .inner-holder
              svg.icon.svg-excel-icon
                use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-excel-icon")
              span Excel
          button(type="button").btn
            .inner-holder
              svg.icon.svg-pdf-icon
                use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-pdf-icon")
              span PDF

          button(type="button").btn
            .inner-holder
              svg.icon.svg-csv-icon
                use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-csv-icon")
              span CSV

  .products-table_wrapper
    table
      thead
        tr
          th
            .checkbox-holder
              label
                input(type="checkbox").hidden-checkbox
                span.fake-checkbox
          th
            i.fa.fa-calendar(aria-hidden="true")
          th(
            *ngFor="let th of headerItemsList",
            [class.text-left]="th === 'name'"
            ) {{ th }}
      tbody
        tr(
          *ngFor="let tr of productsList; let i = index",
          [ngClass]="{'active': tr.checkedRow}"
        )
          td
            .checkbox-holder
              label
                input(type="checkbox",
                  (click)="onCheckboxClick(tr, i)").hidden-checkbox
                span.fake-checkbox
          td {{tr.date}}
          td.text-left {{tr.productName}}
          td {{tr.price.value}} {{tr.price.currency}}
          td
            .erp-field( [ngClass]="tr.erp.status" )
              .erp_data {{tr.erp.value}} {{tr.erp.currency}}
              .erp-triangle
          td {{tr.erpMargin.value}} {{tr.erpMargin.measuring}}
          td {{tr.salesMargin.value}} {{tr.salesMargin.measuring}}
          td {{tr.fixedPrice.value}} {{tr.fixedPrice.currency}}
          td {{tr.effectiveSalesPrice.value}} {{tr.effectiveSalesPrice.currency}}
          td {{tr.effectiveSalesMargin.value}} {{tr.effectiveSalesMargin.measuring}}
          td {{tr.discountType}}
          td {{tr.discountTable}}
