
<div class="products-table-component">
  <div class="products_top-row row align-justify align-middle collapse">
    <div class="top_filters-row column small-6">
      <div class="row align-middle">
        <div class="column small-3">
          <dl class="info-list">
            <dt>Total items:</dt>
            <dd>4,243</dd>
          </dl>
        </div>
        <div class="column small-9">
          <div class="inputs-holder">
            <div class="search-box"><i class="fa fa-search" aria-hidden="true"></i>
              <input type="text" placeholder="Search"/>
            </div>
            <div class="select-box">
              <select>
                <option>Select Customer</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top_btns-row column shrink">
      <div class="export_inner-wrapper"><span class="export_label">Export as:</span>
        <div class="export_btns-group">
          <button class="btn" type="button">
            <div class="inner-holder">
              <svg class="icon svg-excel-icon">
                <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-excel-icon"></use>
              </svg><span>Excel</span>
            </div>
          </button>
          <button class="btn" type="button">
            <div class="inner-holder">
              <svg class="icon svg-pdf-icon">
                <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-pdf-icon"></use>
              </svg><span>PDF</span>
            </div>
          </button>
          <button class="btn" type="button">
            <div class="inner-holder">
              <svg class="icon svg-csv-icon">
                <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-csv-icon"></use>
              </svg><span>CSV</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="products-table_wrapper">
    <table>
      <thead>
        <tr>
          <th>
            <div class="checkbox-holder">
              <label>
                <input class="hidden-checkbox" type="checkbox"/><span class="fake-checkbox"></span>
              </label>
            </div>
          </th>
          <th><i class="fa fa-calendar" aria-hidden="true"></i></th>
          <th *ngFor="let th of headerItemsList" [class.text-left]="th === 'name'">{{ th }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tr of productsList; let i = index" [ngClass]="{'active': tr.checkedRow}">
          <td>
            <div class="checkbox-holder">
              <label>
                <input class="hidden-checkbox" type="checkbox" (click)="onCheckboxClick(tr, i)"/><span class="fake-checkbox"></span>
              </label>
            </div>
          </td>
          <td>{{tr.date}}</td>
          <td class="text-left">{{tr.productName}}</td>
          <td>{{tr.price.value}} {{tr.price.currency}}</td>
          <td>
            <div class="erp-field" [ngClass]="tr.erp.status">
              <div class="erp_data">{{tr.erp.value}} {{tr.erp.currency}}</div>
              <div class="erp-triangle"></div>
            </div>
          </td>
          <td>{{tr.erpMargin.value}} {{tr.erpMargin.measuring}}</td>
          <td>{{tr.salesMargin.value}} {{tr.salesMargin.measuring}}</td>
          <td>{{tr.fixedPrice.value}} {{tr.fixedPrice.currency}}</td>
          <td>{{tr.effectiveSalesPrice.value}} {{tr.effectiveSalesPrice.currency}}</td>
          <td>{{tr.effectiveSalesMargin.value}} {{tr.effectiveSalesMargin.measuring}}</td>
          <td>{{tr.discountType}}</td>
          <td>{{tr.discountTable}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>