
<div class="select-wrapper select--bordered">
  <div class="select_header" (click)="toggleListItems()">
    <div class="select_choosen-item ellipsis">{{selectedItem.text}}</div><i class="fa" aria-hidden="true" [ngClass]="isActive ? 'fa-angle-up' : 'fa-angle-down'"></i>
  </div>
  <div class="select_body" *ngIf="isActive">
    <ul class="select_items-list">
      <li *ngFor="let item of selectList; let i = index" (click)="onItemSelect(item)">
        <div class="select_item">
          <div class="item-title">{{ item.text }}</div>
        </div>
      </li>
    </ul>
  </div>
</div>