.settings_customers-wrapper
  .settings_body
    .table-wrapper.table-wrapper--primary-table
      table
        thead
          tr
            th(width=40)
              .checkbox-holder
                label
                  input(type="checkbox").hidden-checkbox
                  span.fake-checkbox
            th Company
            th city
            th state / province
            th country
            th(width=100).text-center currency
            th(width=110).text-center discount level monthly
            th(width=110).text-center discount level annually
        tbody
          tr(*ngFor="let customer of customersData")
            td(width=40)
              .checkbox-holder
                label
                  input(type="checkbox").hidden-checkbox
                  span.fake-checkbox
            td {{ customer.company }}
            td {{ customer.city }}
            td {{ customer.state }}
            td {{ customer.country }}
            td.text-center {{ customer.currency }}
            td
              select( [(ngModel)]="customer.discountLevelMonthly" )
                option(
                  *ngFor="let m of [0,1,2,3,4,5,6,7,8,9]",
                  [ngValue]="m"
                ) {{ m }}
            td
              select( [(ngModel)]="customer.discountLevelAnnually" )
                option(
                  *ngFor="let a of [0,1,2,3,4,5,6,7,8,9]",
                  [ngValue]="a"
                  ) {{ a }}
  .settings_footer
    .row.align-middle.align-justify
      .columns.shrink
        .flex-container
          .search
            .search_box
              .search_input
                i(aria-hidden="true").fa.fa-search
                input(type="search", placeholder="Search")
          .statistics
            dl
              dt Total:
              dd 502
            dl
              dt Selected
              dd 502
      .columns.shrink

