
<div class="settings_customers-wrapper">
  <div class="settings_body">
    <div class="table-wrapper table-wrapper--primary-table">
      <table>
        <thead>
          <tr>
            <th width="40">
              <div class="checkbox-holder">
                <label>
                  <input class="hidden-checkbox" type="checkbox"/><span class="fake-checkbox"></span>
                </label>
              </div>
            </th>
            <th>Company</th>
            <th>city</th>
            <th>state / province</th>
            <th>country</th>
            <th class="text-center" width="100">currency</th>
            <th class="text-center" width="110">discount level monthly</th>
            <th class="text-center" width="110">discount level annually</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customersData">
            <td width="40">
              <div class="checkbox-holder">
                <label>
                  <input class="hidden-checkbox" type="checkbox"/><span class="fake-checkbox"></span>
                </label>
              </div>
            </td>
            <td>{{ customer.company }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.state }}</td>
            <td>{{ customer.country }}</td>
            <td class="text-center" width="100">{{ customer.currency }}</td>
            <td width="110">
              <select [(ngModel)]="customer.discountLevelMonthly">
                <option *ngFor="let m of [0,1,2,3,4,5,6,7,8,9]" [ngValue]="m">{{ m }}</option>
              </select>
            </td>
            <td width="110">
              <select [(ngModel)]="customer.discountLevelAnnually">
                <option *ngFor="let a of [0,1,2,3,4,5,6,7,8,9]" [ngValue]="a">{{ a }}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="settings_footer">
    <div class="row align-middle align-justify">
      <div class="columns shrink">
        <div class="customers_bottom-controls">
          <div class="search-wrapper">
            <div class="search_box">
              <div class="search_input"><i class="fa fa-search" aria-hidden="true"></i>
                <input type="search" placeholder="Search"/>
              </div>
            </div>
          </div>
          <div class="statistics-wrapper">
            <dl>
              <dt>Total:</dt>
              <dd>502</dd>
            </dl><span class="delimiter">/</span>
            <dl>
              <dt>Selected:</dt>
              <dd>502</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="columns shrink">
        <div class="export_inner-wrapper"><span class="export_label">Export as:</span>
          <div class="export_btns-group">
            <button class="btn btn--bordered" type="button">
              <div class="inner-holder">
                <svg class="btn-icon icon svg-excel-icon">
                  <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-excel-icon"></use>
                </svg><span>Excel</span>
              </div>
            </button>
            <button class="btn btn--bordered" type="button">
              <div class="inner-holder">
                <svg class="btn-icon icon svg-pdf-icon">
                  <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-pdf-icon"></use>
                </svg><span>PDF</span>
              </div>
            </button>
            <button class="btn btn--bordered" type="button">
              <div class="inner-holder">
                <svg class="btn-icon icon svg-csv-icon">
                  <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-csv-icon"></use>
                </svg><span>CSV</span>
              </div>
            </button>
            <button class="btn btn--color-filled btn--primary" type="button">
              <div class="inner-holder"><i class="btn-icon fa fa-check" aria-hidden="true"></i><span>Apply&nbsp;(3)</span></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>