nav(
  [class.active]="state"
  ).main-site-navigation
  ul.menu_list
    li(
      *ngFor="let menuItem of menuItemsList"
    ).menu_list-item
      div(
        (click)="onMenuClick(menuItem)",
        routerLink="{{menuItem.link}}",
        [routerLinkActiveOptions]="{ exact: true }",
        routerLinkActive="active").menu_item-box
        .item_icon-holder
          svg([ngClass]="menuItem.iconClass").icon
            use(attr.xlink:href="{{'../../../assets/img/symbol-defs.svg#'+menuItem.iconClass}}")
        .item_title {{ menuItem.title }}
      div(
        *ngIf="menuItem.subNav && menuItem.subNav.length",
        [class.active]="menuItem.isSubNavActive"
      ).menu_subnav-holder
        div(*ngFor="let subItem of menuItem.subNav").subnav_item {{ subItem.title }}

