
<header class="header-component">
  <div class="header-wrapper row expanded collapse">
    <div class="column shrink">
      <div class="row collapse align-nested-items">
        <div class="column shrink inner-flex inner-flex--bordered">
          <div class="header_menu-holder">
            <button class="btn btn-burger" type="button" (click)="onNavClick()">
              <div class="burger-box"><span class="burger-item"></span><span class="burger-item"></span><span class="burger-item"></span></div>
            </button>
          </div>
        </div>
        <div class="column shrink inner-flex inner-flex--bordered">
          <div class="header_logo-holder"><img src="../../../assets/img/nexelent-logo.png"/></div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="header_breadcrumbs">
        <ul class="breadcrumbs_list">
          <li class="breadcrumbs_item">some 1</li>
          <li class="breadcrumbs_item">some 2</li>
          <li class="breadcrumbs_item">some 3</li>
        </ul>
      </div>
    </div>
    <div class="column shrink">
      <div class="header_customer-bar">
        <ul class="header_actions-list">
          <li class="header_action-item">
            <div class="customer_logo"><img src="../../../assets/img/customer-logo.svg"/><i class="icon fa fa-angle-down" aria-hidden="true"></i></div>
          </li>
          <li class="header_action-item">
            <customer-actions-menu [currentUser]="cspData"></customer-actions-menu>
          </li>
          <li class="header_action-item">
            <div class="customer_notifications-bar">
              <button class="notification-btn" type="button">
                <svg class="icon svg-bell-icon header-icon">
                  <use xlink:href="../../../assets/img/symbol-defs.svg#svg-bell-icon"></use>
                </svg>
              </button><span class="notification-badge notification-badge--red">112</span>
            </div>
          </li>
          <li class="header_action-item">
            <div class="cart-box">
              <button type="button">
                <svg class="icon svg-cart-icon header-icon">
                  <use xlink:href="../../../assets/img/symbol-defs.svg#svg-cart-icon"></use>
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <main-menu></main-menu>
</header>