header.header-component
  .header-wrapper.flex-container.align_main--between.collapse
    .header-col.flex-item.flex-container.collapse.align_cross--center
      .header_menu-holder.flex-item.flex-item--shrink
        button(type="button",
          (click)="onNavClick()"
        ).btn.btn-burger
          svg.icon.svg-ic-burger
            use(xlink:href="../../../assets/img/symbol-defs.svg#svg-ic-burger")

      .header_logo-holder.flex-item.flex-item--shrink
        img(src="../../../assets/img/totalone-logo.svg")
    .header-col.header_customer-bar.flex-item
      ul.header_actions-list
        li.header_action-item
          .customer_logo item
        li.header_action-item
          customer-actions-menu(
            [currentUser]="cspData"
            )

        li.header_action-item
          .customer_notifications-bar item
        li.header_action-item
          .home-link item
  main-menu



