.header-wrapper {
  background: #fff;
  max-width: 1920px;
  position: relative;
  z-index: 5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.header_menu-holder {
  padding: 0 20px;
}
.header_actions-list {
  display: flex;
  justify-content: flex-end;
}
.header_action-item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  padding: 23px 18px;
  color: #677698;
  font-size: 16px;
  min-width: 88px;
  &:not(:last-child) {
    border-right: 2px solid #F4F4F4;
  }
}
.btn-burger {
  color: #6071CF;
  font-size: 18px;
}
