ul.tabs_navigation-list
  li.tabs_navigation-item(
    *ngFor="let item of tabsList",
    [class.active]="item.type === activeTab",
    (click)="onClickTab(item)"
  )
    tab-item(
      [tabItem]="item"
    )
