@import "../../../../assets/styles/foundation-sites/settings";

.tabs_navigation-list {
  display: flex;
  overflow: hidden;
}

.tabs_navigation-item {
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  color: $primary-text-color;
  cursor: pointer;
  flex: 0 0 182px;
  font-size: 12px;
  font-weight: 600;
  padding: 20px 10px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    box-shadow: none;
    background: $primary-color;
    color: $white;
    position: relative;
    z-index: 2;
  }
  &:not(:last-child) { margin-right: 6px; }
}
