
<div class="filters-block_wrapper">
  <div class="filters-block_navigation">
    <div class="filters_main-navigation">
      <ul class="filters_navigation-list">
        <li class="filters_navigation-item" (click)="setActiveMainTab(filter)" *ngFor="let filter of tabsList; let i = index" [class.active]="mainActiveTab ? (filter.title === mainActiveTab) : (i === 0)">
          <div class="btn navigation-btn">{{ filter.title }}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="filters-block_main">
    <div class="filters_categories-navigation">
      <ul class="filters_categories-list">
        <li class="filters_category-item" (click)="setSecondMainTab(innerFilter)" *ngFor="let innerFilter of categoriesList; let i = index" [class.active]="secondActiveTab ? (innerFilter.title === secondActiveTab) : (i === 0)">
          <div class="btn category-btn">{{ innerFilter.title }}</div>
        </li>
      </ul>
      <div class="filters_arrows-box">
        <div class="btn arrow-btn arrow-btn--prev">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
        <div class="btn arrow-btn arrow-btn--next">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="filters_content-box">
      <section class="filters_static-filters row align-bottom align-justify">
        <div class="columns small-8">
          <ul class="row align-bottom">
            <li class="columns shrink">
              <button class="btn btn--bordered btn_alert btn_iconed" type="button">
                <div class="btn_icon-holder"><i class="fa fa-fire" aria-hidden="true"></i></div>
                <div class="btn_text-holder">Whats new</div>
              </button>
            </li>
            <li class="columns">
              <div class="filter-wrapper">
                <custom-select [config]="true"></custom-select>
                <label>select currency</label>
                <input type="text" name="currency"/>
              </div>
            </li>
            <li class="columns">
              <div class="filter-wrapper">
                <label>language</label>
                <input type="text" name="language"/>
              </div>
            </li>
            <li class="columns">
              <div class="filter-wrapper">
                <label>select month</label>
                <input type="text" name="month"/>
              </div>
            </li>
            <li class="columns small-3">
              <div class="filter-wrapper">
                <label>select pricelist</label>
              </div>
              <div class="switcher-wrapper">
                <div class="can-toggle filters-toggle">
                  <input id="e" type="checkbox"/>
                  <label for="e">
                    <div class="can-toggle__switch" data-checked="Partner" data-unchecked="Global"></div>
                  </label>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="columns shrink">
          <ul class="static-btns-list row collapse align-bottom">
            <li class="column">
              <div class="static-btns-holder">
                <div class="btn-holder">
                  <button class="btn btn--orange" type="button"><i class="fa fa-refresh" aria-hidden="true"></i><span>Reset filters</span></button>
                </div>
                <div class="btn-holder additional-info-holder">
                  <button class="btn btn--blue" type="button"><i class="fa fa-share-square" aria-hidden="true"></i><span>Import products</span></button>
                  <div class="additional-box additional-box--top">
                    <dl class="black-color">
                      <dt>Total products:</dt>
                      <dd>4,243</dd>
                    </dl>
                  </div>
                  <div class="additional-box additional-box--bottom">
                    <dl>
                      <dt>Last successful update:</dt>
                      <dd>08/27/2018</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="filters_dinamic-filters">
        <div class="dinamic-filters_spoiler" (click)="toggleDynamicFilters()">
          <div class="text-box"><span>filters</span><i class="fa" aria-hidden="true" [ngClass]="isDynamicFiltersActive ? 'fa-angle-down' : 'fa-angle-up'"></i></div>
        </div>
        <ul class="row dinamic-filters_list" [class.active]="isDynamicFiltersActive">
          <li class="columns" *ngFor="let filter of dinamicFiltersList">
            <div class="filter-wrapper">
              <label>{{ filter.label }}</label>
              <input type="text" name="{{ filter.name }}"/>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>