
<div class="filters-block_wrapper">
  <div class="filters-block_navigation">
    <div class="filters_main-navigation">
      <ul class="filters_navigation-list">
        <li class="filters_navigation-item" (click)="setActiveMainTab(filter)" *ngFor="let filter of tabsList; let i = index" [class.active]="mainActiveTab ? (filter.title === mainActiveTab) : (i === 0)">
          <div class="btn navigation-btn">{{ filter.title }}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="filters-block_main">
    <div class="filters_categories-navigation">
      <ul class="filters_categories-list">
        <li class="filters_category-item" (click)="setSecondMainTab(innerFilter)" *ngFor="let innerFilter of categoriesList; let i = index" [class.active]="secondActiveTab ? (innerFilter.title === secondActiveTab) : (i === 0)">
          <div class="btn category-btn">{{ innerFilter.title }}</div>
        </li>
      </ul>
      <div class="filters_arrows-box">
        <div class="btn arrow-btn arrow-btn--prev">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
        <div class="btn arrow-btn arrow-btn--next">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="filters_content-box">
      <section class="filters_static-filters flex-container collapse align_cross--center">
        <div class="flex-item item--8">
          <ul class="flex-container">
            <li class="flex-item" *ngFor="let filter of staticFiltersList">
              <div class="filter-wrapper">
                <label>{{ filter.label }}</label>
                <input type="text" name="{{ filter.name }}"/>
              </div>
            </li>
          </ul>
        </div>
        <div class="flex-item item--2">
          <div class="filter_buttons-group">111111</div>
        </div>
        <div class="flex-item item--2">
          <div class="filter_search-box">
            <input type="search" placeholder="Search"/>
            <button class="btn btn--search"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </section>
      <section class="filters_dinamic-filters">
        <ul class="flex-container">
          <li class="flex-item item--2" *ngFor="let filter of dinamicFiltersList">
            <div class="filter-wrapper">
              <label>{{ filter.label }}</label>
              <input type="text" name="{{ filter.name }}"/>
            </div>
          </li>
        </ul>
      </section>
      <section class="flex-container collapse align_main--end action-btns_wrapper">
        <div class="flex-item flex-item--shrink">
          <div class="btns-group">
            <button class="btn btn_iconed btn_shadowed btn--secondary" type="button">
              <div class="btn_icon-holder">
                <svg class="icon svg-office365">
                  <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-office365"></use>
                </svg>
              </div>
              <div class="btn_text-holder">Import  product</div>
            </button>
            <button class="btn btn_iconed btn_shadowed btn--primary" type="button">
              <div class="btn_icon-holder">
                <svg class="icon svg-office365">
                  <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-office365"></use>
                </svg>
              </div>
              <div class="btn_text-holder">Reset</div>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>