.filters-block_wrapper
  .filters-block_navigation
    .filters_main-navigation
      ul.filters_navigation-list
        li.filters_navigation-item(
          (click)="setActiveMainTab(filter)",
          *ngFor="let filter of tabsList; let i = index",
          [class.active]="mainActiveTab ? (filter.title === mainActiveTab) : (i === 0)"
        )
          .btn.navigation-btn
            | {{ filter.title }}
  .filters-block_main
    .filters_categories-navigation
      ul.filters_categories-list
        li.filters_category-item(
          (click)="setSecondMainTab(innerFilter)",
          *ngFor="let innerFilter of categoriesList; let i = index",
          [class.active]="secondActiveTab ? (innerFilter.title === secondActiveTab) : (i === 0)"
        )
          .btn.category-btn {{ innerFilter.title }}
      .filters_arrows-box
        .btn.arrow-btn.arrow-btn--prev
          svg.icon.svg-ic-table-arrow
            use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow")
        .btn.arrow-btn.arrow-btn--next
          svg.icon.svg-ic-table-arrow
            use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow")



    .filters_content-box
      section.filters_static-filters.flex-container.collapse.align_cross--center
        .flex-item.item--8
          ul.flex-container
            li.flex-item(
              *ngFor="let filter of staticFiltersList"
            )
              .filter-wrapper
                label {{ filter.label }}
                input(type="text",
                name="{{ filter.name }}"
                )
        .flex-item.item--2
          .filter_buttons-group
            | 111111
        .flex-item.item--2
          .filter_search-box
            input(type="search", placeholder="Search")
            button.btn.btn--search


      section.filters_dinamic-filters
        ul.flex-container
          li.flex-item.item--2(
            *ngFor="let filter of dinamicFiltersList"
          )
            .filter-wrapper
              label {{ filter.label }}
              input(type="text",
                name="{{ filter.name }}"
              )


      section.flex-container.collapse.align_main--end.action-btns_wrapper
        .flex-item.flex-item--shrink
          .btns-group
            button.btn.btn_iconed.btn--secondary(type="button")
              .btn_icon-holder
                svg.icon.svg-office365
                  use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-office365")
              .btn_text-holder Import  product
            button.btn.btn_iconed.btn--primary(type="button")
              .btn_icon-holder
                svg.icon.svg-office365
                  use(xlink:href="../../../../../assets/img/symbol-defs.svg#svg-office365")
              .btn_text-holder Reset

      .row
        .column.small-2 1
        .column.small-2 2



