@import "styles/tabs-styles";
@import "styles/categories-styles";
@import "styles/filters-styles";
@import "styles/action-btns-styles";
@import "styles/filters-search-styles";

.filters-block_main {
  background: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  position: relative;
}
