
<div class="filters-block_wrapper">
  <div class="filters-block_navigation">
    <div class="filters_main-navigation">
      <ul class="filters_navigation-list">
        <li class="filters_navigation-item" (click)="setActiveMainTab(filter)" *ngFor="let filter of tabsList; let i = index" [class.active]="mainActiveTab ? (filter.title === mainActiveTab) : (i === 0)">
          <div class="btn navigation-btn">{{ filter.title }}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="filters-block_main">
    <div class="filters_categories-navigation">
      <ul class="filters_categories-list">
        <li class="filters_category-item" (click)="setSecondMainTab(innerFilter)" *ngFor="let innerFilter of categoriesList; let i = index" [class.active]="secondActiveTab ? (innerFilter.title === secondActiveTab) : (i === 0)">
          <div class="btn category-btn">{{ innerFilter.title }}</div>
        </li>
      </ul>
      <div class="filters_arrows-box">
        <div class="btn arrow-btn arrow-btn--prev">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
        <div class="btn arrow-btn arrow-btn--next">
          <svg class="icon svg-ic-table-arrow">
            <use xlink:href="../../../../../assets/img/symbol-defs.svg#svg-ic-table-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="filters_content-box">
      <ul class="filters-list">
        <li class="filter-item" *ngFor="let filter of filtersList">
          <div class="filter-wrapper">
            <label>{{ filter.label }}</label>
            <input type="text" name="{{ filter.name }}"/>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>