.filters_categories-navigation {
  border-bottom: 2px solid $light-gray;
  display: flex;
  justify-content: space-between;
}

.filters_categories-list {
  flex: 0 0 auto;
  display: flex;
}

.filters_category-item {
  color: $primary-text-color;
  cursor: pointer;
  flex: 0 0 auto;
  min-width: 182px;
  position: relative;
  text-align: center;
}

.category-btn {
  padding: 22px 20px;
  font-size: 14px;
  font-weight: 600;
  &:after {
    content: '';
    border-radius: 4px 4px 0 0;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 4px;
    width: 0;
    transition: width .2s ease;
  }
  .active > & {
    color: $primary-color;
    &:after {
      width: 100%;
      background: $primary-color;
    }
  }
}

.filters_arrows-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  width: 115px;
  .arrow-btn {
    color: #AAAAAA;
    font-size: 14px;
  }
}
.svg-ic-table-arrow {
  .arrow-btn--prev > & {
    transform: rotate(180deg);
  }
}
