@import "../../../../../../assets/styles/foundation-sites/settings";

.filter-wrapper {
  color: $black;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  label {
    display: block;
    font-weight: bold;
    font-size: inherit;
    letter-spacing: 0.08em;
    margin-bottom: 12px;
  }
  + .filters-toggle { margin-bottom: 25px; }
}

input,
input[type="search"],
select {
  border: 1px solid #dfdfdf;
  color: #c1c1c1;
  &:focus {
    outline: none;
    outline-offset: unset;
  }
}

.filters-block_main { border-radius: 0 5px 5px 5px; }

.filters_content-box {
  padding: 18px 0 0;
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .filter-item {
    flex: 0 0 20%;
    padding: 0 10px;
    margin-bottom: 20px;
    max-width: 20%;
  }
}
.filters_static-filters {
  padding: 0 10px 20px;
  margin-bottom: 30px;
}
.dinamic-filters_list {
  padding: 25px 10px 0;
  li {
    flex: 0 0 14.28%;
    max-width: 14.28%;
    margin-bottom: 40px
  }
}
.dinamic-filters_spoiler {
  background: $light-gray;
  cursor: pointer;
  font-size: 0;
  .text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $primary-text-color;
    font-weight: 800;
    letter-spacing: 0.23em;
    line-height: 1;
    padding: 20px 15px;
    text-transform: uppercase;
  }
  .fa {
    margin-left: 5px;
    font-size: 18px;
  }
}

.btn_alert {
  background: $alert-color;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  &:hover { background: darken($alert-color, 10%); }
}

.switcher-wrapper { display: inline-block; }

.static-btns-list {
  > li { margin: 0; }
}
.static-btns-holder {
  display: flex;
  align-items: center;
  .btn-holder { position: relative; }
  .btn-holder + .btn-holder { margin-left: 10px; }
  .btn {
    color: $white;
    &--black { background: $third-color; }
    &--blue { background: $primary-color; }
  }
}

.additional-info-holder {
  .additional-box {
    position: absolute;
    left: 0;
    width: 100%;
    &--top { top: -20px; }
    &--bottom { bottom: -20px; }
  }
  dl {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    dt { margin: 0 5px 0 0; }
    dd { margin: 0; }
  }
}

.dp-wrapper {
  height: 34px;
  position: relative;
  input {
    color: $primary-text-color;
    border-color: $input-border-color;
    padding-left: 25px;
  }
  .fa-calendar {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
  }

}
