@import "../../../../../../assets/styles/foundation-sites/settings";

.filter-wrapper {
  color: $black;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  label {
    display: block;
    font-weight: bold;
    font-size: inherit;
    letter-spacing: 0.08em;
    margin-bottom: 12px;
  }
  + .filters-toggle { margin-bottom: 25px; }
}

input,
input[type="search"],
select {
  border: 1px solid #dfdfdf;
  color: #c1c1c1;
  &:focus {
    outline: none;
    outline-offset: unset;
  }
}

.filters_content-box {
  padding: 18px 15px 30px;
  .filters-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .filter-item {
    flex: 0 0 20%;
    padding: 0 10px;
    margin-bottom: 20px;
    max-width: 20%;
  }
}
//
.filters_dinamic-filters,
.filters_static-filters {
  margin-bottom: 30px;
  li { margin-bottom: 20px; }
}
.filters_dinamic-filters {
  // opacity: 0;
  // visibility: hidden;
  // position: absolute;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  &.active {
    opacity: 1;
    visibility: visible;
    position: relative;
  }
  li {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
}

.btn_alert {
  background: $orange;
  color: $white;
  font-size: 10px;
  font-weight: 400;
  min-height: 34px;
  height: 34px;
  border-radius: 34px;
  transition: background .2s ease;
  &:hover { background: darken($orange, 10%); }
  .btn_text-holder { padding: 0 20px 0 40px; }
  .fa { font-size: 14px; }
}

.switcher-wrapper { display: inline-block; }

.static-btns-list {
  > li { margin: 0; }
}
.static-btns-holder {
  display: flex;
  align-items: center;
  .btn-holder { position: relative; }
  .btn-holder + .btn-holder { margin-left: 10px; }
  .btn {
    box-shadow: 0 4px 15px rgba(188, 188, 188, 0.6);
    color: $white;
    min-width: 190px;
    text-align: center;
    &--orange { background: $orange; }
    &--blue { background: $primary-color; }
    .fa { margin-right: 10px; }
  }
}

.additional-info-holder {
  padding: 20px 0;
  .additional-box {
    position: absolute;
    left: 0;
    width: 100%;
    &--top { top: 0; }
    &--bottom { bottom: 0; }
  }
  dl {
    color: #6F6F6F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    dt { margin: 0 5px 0 0; }
    dd { margin: 0; }
    &.black-color { color: $black; }
  }
}
