section.filters-wrapper
  main-filters
section.filters-wrapper
  tabs-component(
    [tabsHeadData]="tabsHeaderData",
    [ngSwitch]="currentTab",
    (tabSwitched)="onGetTab($event)"
  )
    div(*ngSwitchCase="tabTypes.productUpdate")
      product-update

    div(*ngSwitchCase="tabTypes.discounts")
      product-discounts

    div(*ngSwitchCase="tabTypes.customers")
      product-customers

    div(*ngSwitchCase="tabTypes.defaultSetForm")
      products-price-settings

section.products-wrapper
  products-list
