
<section class="filters-wrapper">
  <main-filters></main-filters>
</section>
<section class="filters-wrapper">
  <tabs-component [tabsHeadData]="tabsHeaderData" [ngSwitch]="currentTab" (tabSwitched)="onGetTab($event)">
    <div *ngSwitchCase="tabTypes.productUpdate">
      <product-update [tableData]="productUpdatesTable"></product-update>
    </div>
    <div *ngSwitchCase="tabTypes.discounts">
      <product-discounts [discountTables]="discountTableList" [discountData]="discountTableData"></product-discounts>
    </div>
    <div *ngSwitchCase="tabTypes.customers">
      <product-customers></product-customers>
    </div>
    <div *ngSwitchCase="tabTypes.defaultSetForm">
      <h1>{{currentTab}} tab in use</h1>
      <p>tabs content</p>
    </div>
  </tabs-component>
</section>
<section class="products-wrapper">
  <products-list></products-list>
</section>