section.filters-wrapper
  main-filters
section.filters-wrapper
  tabs-component(
    [tabsHeadData]="tabsHeaderData",
    [ngSwitch]="currentTab",
    (tabSwitched)="onGetTab($event)"
  )
    div(*ngSwitchCase="tabTypes.productUpdate")
      product-update([tableData]="productUpdatesTable")

    div(*ngSwitchCase="tabTypes.discounts")
      product-discounts(
        [discountTables]="discountTableList",
        [discountData]="discountTableData"
      )

    div(*ngSwitchCase="tabTypes.customers")
      h1 {{currentTab}} tab in use
      p tabs content

    div(*ngSwitchCase="tabTypes.defaultSetForm")
      h1 {{currentTab}} tab in use
      p tabs content
section.products-wrapper
  products-list
