section.filters-wrapper
  main-filters
section.filters-wrapper
  tabs-component(
    [tabsHeadData]="tabsHeaderData",
    [ngSwitch]="currentTab",
    (tabSwitched)="onGetTab($event)"
  )
    div(*ngSwitchCase="tabTypes.productUpdate")
      include ./blocks/values-template

    div(*ngSwitchCase="tabTypes.discounts")
      h1 {{currentTab}} tab in use
      p tabs content

    div(*ngSwitchCase="tabTypes.customers")
      h1 {{currentTab}} tab in use
      p tabs content

    div(*ngSwitchCase="tabTypes.defaultSetForm")
      h1 {{currentTab}} tab in use
      p tabs content
section.products-wrapper
  products-list
