.header-wrapper {
  background: #fff;
  max-width: 1920px;
  position: relative;
  z-index: 5;
  box-shadow: 0 0 6px 2px rgba(137, 141, 145, 0.2);
}
.header_menu-holder {
  padding: 0 20px;
}
.header_actions-list {
  display: flex;
  justify-content: flex-end;
}
.header_action-item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  padding: 10px 16px;
  color: #000;
  font-size: 16px;
  &:not(:last-child) {
    border-right: 1px solid #c1c1c1;
  }
}
.btn-burger {
  color: #684aff;
  font-size: 20px;
  .icon {
    color: #3980ff;
    font-size: 16px;
  }
}
