@import "../../../assets/styles/foundation-sites/settings";
.footer-component {
  background: $primary-color;
  color: $white;
  padding: 28px 15px;
  p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}
