footer.footer-component
  .flex-container.align_cross--center.align_main--between
    .flex-item.flex-item--shrink
      p Logo
    .flex-item.flex-item--shrink
      p Total One &copy; 2018. All rights Reserved
