footer.footer-component
  .row.expanded.align-middle.align-justify
    .column.shrink
      img(src="../../assets/img/logo-t1.svg")
    .column.shrink
      p Total One &copy; 2018. All rights Reserved
