.btn {
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  padding: 14px;
  text-align: center;
  &:focus { outline: none; }

  & + & { margin-left: 10px; }

  &--color-filled {
    box-shadow: 0 4px 15px rgba(188, 188, 188, 0.6);
    min-width: 190px;
    .btn-icon {
      color: inherit;
      font-size: inherit;
      margin-right: 10px;
    }
  }
  &--bordered {
    border: 1px solid;
    border-radius: 3px;
    color: $primary-text-color;
    padding: 10px;
    min-width: 100px;
    transition: color .3s ease;
    &:hover { color: $primary-color; }
    .btn-icon {
      font-size: 1rem;
      margin-right: 5px;
    }
  }
  &--rounded {
    height: 34px;
    border-radius: 34px;
    padding: 8px 16px;
    transition: background .3s ease;
    .btn-icon {
      font-size: 14px;
      margin-right: 5px;
    }
  }
  .inner-holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
