*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: inherit;
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
}
a { text-decoration: none; }
