*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: inherit;
  color: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
a { text-decoration: none; }


input[type="text"],
input[type="search"],
select {
  font-weight: 400;
  height: 34px;
  padding: 8px 10px;
  margin: 0;
  text-transform: none;
  width: 100%;
  &:focus {
    outline: none;
    outline-offset: unset;
  }
}
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
input::-webkit-input-placeholder { color: inherit; }
input[type="search" i] { -webkit-appearance: none; }
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}



.checkbox-holder {
  position: relative;
  .hidden-checkbox {
    position: absolute;
    opacity: 0;
    left: -9999px;
    top: 0;
  }
}

.fake-checkbox {
  display: block;
  color: inherit;
  cursor: pointer;
  border: 2px solid;
  position: relative;
  height: 12px;
  width: 12px;
  &:after {
    background: transparent;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: background .15s ease;
    width: 4px;
    height: 4px;
  }
  input[type="checkbox"]:checked + & {
    &:after { background: $alert-color; }
  }
}
