.customer_settings
  .customer_current-customer(
    (click)="customerMenuToggler()"
  )
    .customer-icon-holder
      .customer-icon
        span.abbreviation AL
    .customer-name
      | {{currentUser.userData.userName}}
    .arrow
      svg([ngClass]="{active: customerMenuVisible}").icon.svg-ic-table-arrow
        use(xlink:href="../../../assets/img/symbol-defs.svg#svg-ic-table-arrow")
  div(
    [ngClass]="{active: customerMenuVisible}"
  ).customer-menu
    ul.customer-menu_list
      li
        .customer-menu_item
          span Profile
      li
        .customer-menu_item
          span Help
      li
        .customer-menu_item
          span Logout

